    /* Definir animación */
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Clase para la animación */
    .fade-in {
        animation: fadeIn 1s ease-in-out;
    }
    /* Definir animación */

    #buscar {
        display: grid;
    }

    input.searchUser {
        width: 45%;
        padding: 7px;
        margin-bottom: 20px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        box-shadow: inset 0.5px 1.5px 2px rgba(0, 0, 0, 1.075);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .searchUser:focus {
        border-color: #042042 !important;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 189, 255, 0.6);
    }

    /* Estilo del placeholder */
    .searchUser::placeholder {
        color: #6c757d;
        opacity: 1; /* Firefox */
    }
    input.searchResolucion {
        width: 45%;
        padding: 7px;
        margin-bottom: 20px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        box-shadow: inset 0.5px 1.5px 2px rgba(0, 0, 0, 1.075);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .searchResolucion:focus {
        border-color: #042042 !important;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 189, 255, 0.6);
    }

    /* Estilo del placeholder */
    .searchResolucion::placeholder {
        color: #6c757d;
        opacity: 1; /* Firefox */
    }

    #exportarPDF {
        background-color: lightslategrey;
        color:ghostwhite;
        height: fit-content;
    }

    #exportarPDF:hover {
        background-color: #b10303;
        color: ghostwhite;
    }

    #exportarExcel {
        background-color: lightslategrey;
        color:ghostwhite;
        height: fit-content;
    }

    #exportarExcel:hover {
        background-color: #1aad5c;
        color: ghostwhite;
    }

    .nuevaresolucion {
        height: 44px;
    }

    .acciones {
        position: relative;
        width: fit-content;
        margin-left: auto;
        margin-top: 8px;
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 200px;
        padding: 12px;
    }


    #acomodar1 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    #paginated-content {
        display: grid;
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        margin: 0 auto;
    }

    /* Responsive Adjustments (Optional) */
    @media screen and (max-width: 768px) {
        #paginated-content {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    @media screen and (max-width: 576px) {
        #paginated-content {
            grid-template-columns: 1fr;
        }

        #paginated-content {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }


        #acomodar {
            position: relative;
            left: 14px;
        }

        #exportarPDF {
            left: 85%;
        }

        #exportarExcel {
            left: 45%;
        }

    }

    .contenido {
        filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.2));
        border-radius: 15px;
        background-color: #d9dadb;
    }

    /* Estilos adicionales para hacer el diseño más responsivo */
    @media screen and (max-width: 768px) {
        .pagination-control {
            padding: 10px 12px;
        }

        .pagination-current {
            margin: 0 5px;
        }

        #pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            align-content: center;
            bottom: 0;
        }

        #items-per-page {
            position: relative;
            left: 20px;
        }


    }

    @media screen and (max-width: 576px) {
        .pagination-control {
            padding: 4px 8px;
        }

        .pagination-current {
            margin: 0 3px;
        }
    }

    .page-link.active {
        /* background-color: #007bff; */
        color: #fff;
    }
    .page-item.disabled .page-link {
        cursor: not-allowed;
        color: #6c757d;
    }

    /* Estilos para el contenedor del selector */
    #itemsPerPageSelect {
        display: inline-block;
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 1rem;
        border: 1px solid #ced4da;
        border-radius: 5px;
        background-color: #ffffff;
        color: #495057;
        cursor: pointer;
        outline: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s cubic-bezier(0.83, 0, 1, 1);
    }

    /* Estilos para el label */
    #itemsPerPageSelect + label {
        margin-right: 10px;
        font-size: 1rem;
        color: #495057;
    }

    /* Estilos al enfocar el selector */
    #itemsPerPageSelect:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    /* Estilos para la paginación */
    .pagination {
        margin: 0;
    }

/*     .pagination .page-item .page-link {
        color: #000000;
    } */

    .pagination .page-item.disabled .page-link {
        color: #6c757d;
        pointer-events: none;
        background-color: transparent;
    }

    .pagination .page-item.active .page-link {
        z-index: 1;
        color: ghostwhite;
    }

    .pagination .page-link {
        position: relative;
        /* display: block; */
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        text-decoration: none;
    }

    .pagination .page-link:hover {
        z-index: 2;
        text-decoration: none;
        background-color: #337ec985;
        border-color: #dee2e6;
        color: ghostwhite;
    }

    .active>.page-link, .page-link.active {
        z-index: 0;
        background-color: #042042 !important;
        color: #fff ;
    }




    .pqr-card {
        background-color: #f7f7f7;
        border-radius: 8px;
        box-shadow: 0 1px 8px rgba(0, 0, 0.5, 0.3);
        padding: 20px;
        max-width: 100%;
        /* Prevent cards from overflowing container */
        margin-bottom: 20px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        /* Add spacing between cards */
    }
